<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softwarei.epar2016">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity 
            android:screenOrientation="landscape"
            android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HighScores"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainGame"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CharacterSelection"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service android:name=".MusicPlayer"
            android:theme="@style/AppTheme.NoActionBar">
        </service>

        <activity android:name=".DealWithVlad"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
