<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.softwarei.epar2016">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <supports-screens android:anyDensity="false"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/_trump_stand"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity 
            android:screenOrientation="landscape"
            android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HighScores"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainGame"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CharacterSelection"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name=".MusicPlayer"
            android:theme="@style/AppTheme.NoActionBar">
        </service>

        <activity android:name=".DealWithVlad"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".GameOver"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Scandal"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="landscape">
        </activity>
        <activity android:name=".Settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
    </application>

</manifest>
